%h2 About you
- form_for(@client, :url => {:action => :about_you}) do |f|
  %table
    %tr
      %td
      %td Who is your CCCS Debt Remedy for?
      %td= f.select(:debt_remedy_for, [please_select,['Me', 0],['My partner and I',1]])
      %td
    %tr
      %td= info_icon('')
      %td Besides you and your partner, how many additional adults share your home?
      %td= f.select :num_adults, [please_select] + (0..9).map {|n| [n,n]}
      %td
    %tr
      %td
      %td Is your partner aware of the financial situation?
      %td= f.select :partner_aware, [please_select, ['Yes', 'yes'], ['No', 'no']]
      %td
    %tr
      %td
      %td How many children aged under 18 live in your home?
      %td= f.select :num_children, [please_select] + (0..12).map {|n| [n,n]}
      %td
    %tr
      %td
      %td Where in the United Kingdom do you live?
      %td= f.select :where_in_uk, [please_select,['England / Wales', 'eng_wales'],['Scotland', 'scotland'], ['Northern Ireland','northern_ireland']]
      %td
    %tr
      %td
      %td What is your marital status?
      %td= f.select :maritial_status, [please_select, ['Divorced / seperated','div_sep'], ['Single','single']]
      %td
    %tr
      %td
      %td How old are you?
      %td
        = f.select :age_range, [please_select, ['Under 25', 0.25],['25-39',25.39],['40-59',40.59],['Over 60', 60.99]]
      %td
    %tr
      %td= info_icon('')
      %td Are you male or female?
      %td
        = f.label("gender_male", "Male")
        = f.radio_button(:gender, 'male')
        = f.label("gender_female", "Female")
        = f.radio_button(:gender, 'female')
      %td
    %tr
      %td
      %td What is your housing status?
      %td
        = f.select :housing_status, [please_select,['Mortgage','mortgage'],['Rent','rent'],['Board Payment','board'],['Own Outright','own'],['Rent & mortgage','rent_mortgage']]
      %td
    %tr
      %td
      %td If you're renting, what type of tenancy agreement do you have?
      %td
        = f.select :rent_type, [please_select, ['Local authority', 'local'],['Housing association', 'housing'],['Private landlord','private_landlord']]
      %td
    %tr
      %td
      %td How many vehicles do you pay running costs and/or parking for?
      %td
        = f.select :num_vehicals, [please_select] + (0..9).map {|n| [n,n]}
      %td
    %tr
      %td= info_icon('')
      %td How many items do you have on hire purchase?
      %td
        = f.select :num_hp, [please_select] + (0..12).map {|n| [n,n]}
      %td
    %tr
      %td
      %td Do you have any pets?
      %td
        = f.yes_no_radio_buttons :any_pets
      %td
    %tr
      %td= info_icon('')
      %td Over the last 2 weeks, how often have you been bothered by any of the following problems:
      %td
      %td
    %tr
      %td
      %td Little interest or pleasure in doing things?
      %td= f.depression_dropdown :lost_interest
      %td
    %tr
      %td
      %td Feeling down, depressed or hopeless?
      %td= f.depression_dropdown :feeling_down
      %td
    %tr
      %td
      %td Feeling nervous, anxious or on edge?
      %td= f.depression_dropdown :feeling_nervous
      %td
    %tr
      %td
      %td Not being able to stop or control worrying?
      %td= f.depression_dropdown :worrying
      %td
  = submit_tag "Save & exit", :class => "button"
  = submit_tag "Next", :class => "button positive"
