<h2>Assets</h2>


<%form_for(@client, :url => {:action => :assets}) do |f| %>

<% if ['mortgage','own'].include? @client.housing_status %>

<h3>Your property</h3>

<table>

<tr>
<td></td>
<td>Who owns the property?</td>
<td><%=f.select :property_owner, [please_select, ['Me','0'],['My partner','1'],['Joint','2']]%></td>
</tr>

<tr>
<td></td>
<td>What is the estimated market value of the property?</td>
<td><%=f.text_field :property_value%></td>
</tr>

<tr>
<td></td>
<td>How much is outstanding on the mortgage?</td>
<td><%=f.text_field :property_outstanding%></td>
</tr>

</table>

<%end%>

<h3>Other property</h3>

<table>

<tr><td></td><td>Do you own or have a share in any other property?</td>
<td><%=f.yes_no_radio_buttons :any_other_property%></td></tr>
<tr><td></td><td>Who owns the other property?</td>
<td><%=f.select :other_property_owner, [please_select, ['Me','0'],['My partner','1'],['Joint','2']]%></td></tr>


<tr><td></td><td>What is the estimated market value of the other property?</td>
<td><%=f.text_field :other_property_value%></td></tr>

<tr><td></td><td>How much is outstanding on the mortgage on the other property?</td>
<td><%=f.text_field :other_property_outstanding%></td></tr>

</table>
<h3>Other assets</h3>
<table>

<tr><td></td><td>What is the total value of any savings/investments you have?</td><td><%=f.text_field :total_savings%></td></tr>
<tr><td></td><td>Who owns the savings or investments?</td><td><%=f.select :total_savings_owner, [please_select, ['Me','0'],['My partner','1'],['Joint','2']]%></td></tr>
<tr><td></td><td>What is the total worth of any other valuable items?</td><td><%=f.text_field :other_valuables%></td></tr>
<tr><td></td><td>Who owns these items?</td><td><%=f.select :other_valuables_owner, [please_select, ['Me','0'],['My partner','1'],['Joint','2']]%></td></tr>
<tr><td><%=info_icon('')%></td><td>Amount of any cash lump sum due in the next 12 months</td><td><%=f.text_field :lump_sum_due%></td></tr>

</table>




<%=link_to "Back", :action => :living_expenses%>
<%=submit_tag "Save & exit" %>

<%=submit_tag "Next" %>

<%end%>
