<h1>Session#last_not_least</h1>

<%form_for(@client, :url => {:action => :last_not_least}) do |f| %>

<table>

<tr><td><%=@client.institute_of_chartered_accountants_in_england_and_wales ? "yes" : "no"%><%=f.label :institute_of_chartered_accountants_in_england_and_wales, "Institute of Chartered Accountants in England and Wales"%></td>
<td><%=f.check_box :institute_of_chartered_accountants_in_england_and_wales %></td></tr>

<tr><td><%=f.label :chartered_institute_of_management_accountants, "Chartered Institute of Management Accountants"%></td>
<td><%=f.check_box :chartered_institute_of_management_accountants %></td></tr>

<tr><td><%=f.label :institute_of_company_accountants, "Institute of Company Accountants"%></td>
<td><%=f.check_box :institute_of_company_accountants %></td></tr>

<tr><td><%=f.label :law_society, "Law Society"%></td>
<td><%=f.check_box :law_society %></td></tr>

<tr><td><%=f.label :institute_of_legal_executives, "Institute of Legal Executives"%></td>
<td><%=f.check_box :institute_of_legal_executives %></td></tr>

<tr><td><%=f.label :house_of_commons, "House of Commons"%></td>
<td><%=f.check_box :house_of_commons %></td></tr>

<tr><td><%=f.label :house_of_lords, "House of Lords"%></td>
<td><%=f.check_box :house_of_lords %></td></tr>

<tr><td><%=f.label :local_authority, "Local Authority"%></td>
<td><%=f.check_box :local_authority %></td></tr>

<tr><td><%=f.label :national_association_of_estate_agents, "National Association of Estate Agents"%></td>
<td><%=f.check_box :national_association_of_estate_agents %></td></tr>

<tr><td><%=f.label :insolvency_practitioners_association, "Insolvency Practitioners Association"%></td>
<td><%=f.check_box :insolvency_practitioners_association %></td></tr>

</table>
<%=link_to "Back", :action => :who_you_owe%>
<%=submit_tag "Save & exit" %>

<%=submit_tag "Next"%>

<%end%>
