%h2 Living costs
- form_for(@client, :url => {:action => :living_expenses}) do |f|
  %table
    %tr
      %th 
      %th 
      %th Monthly amount
    %tr
      %td
      %td Food, toiletries, cleaning
      %td= f.currency_field :food_etc
    %tr
      %td
      %td Clothing and footwear
      %td= f.currency_field :clothing
    %tr
      %td
      %td Telephone, mobile and Internet
      %td= f.currency_field :telephone
    %tr
      %td
      %td Medicines/prescriptions
      %td= f.currency_field :medicines
    %tr
      %td
      %td Dentist/opticians
      %td= f.currency_field :dentist
    %tr
      %td
      %td Hairdressing
      %td= f.currency_field :hairdressing
    %tr
      %td= info_icon('')
      %td Sundries/emergencies
      %td= f.currency_field :sundries
    %tr
      %td
      %td Sports, hobbies and entertainment
      %td= f.currency_field :sports
  = submit_tag "Back", :class => "button negative"
  = submit_tag "Save & exit", :class => "button"
  = submit_tag "Next", :class => "button positive"
