<h2>Login</h2>


<p id="notice"><%= notice %></p>
<%form_tag login_path do %>

<%=label_tag :web_number, "Enter your web number"%>
<%=text_field_tag :web_number %>

<%=submit_tag "Login"%>

<%end%>

<h1>
<%=link_to "Start", :action => :qaq %></h1>
