<h2>Debts</h2>


<%form_for(@client, :url => {:action => :who_you_owe}) do |f| %>

<table>
<tr><th>Creditor name</th><th>Debt type</th><th>Owner of debt</th><th>Outstanding balance</th><th>Contratual payment</th></tr>
<%f.fields_for :client_debts do |f2| %>
<tr class="debt"><td><%=f2.text_field :creditor%></td><td><%=f2.text_field :debt_type%></td>
<td><%=f2.text_field :owner%></td>
<td><%=f2.text_field :balance%></td><td><%=f2.check_box :_destroy, :class => "delete_debt_check_box"%>
<%=f2.label :_destroy, "Delete?", :class => "delete_debt_label"%>
<a href="#" class="delete_debt_link" style="display:none">Delete?</a>
</td></tr>

<%end%>

<table>
<%=link_to "Back", :action => :assets%>
<%=submit_tag "Save & exit" %>

<%=submit_tag "Next"%>

<%end%>
