%h1 Listing clients
%table
  %tr
    %th Web number
    %th Last login
    %th
    %th
    %th
  - @clients.each do |client|
    %tr
      %td= client.web_number
      %td= client.last_login
      %td= link_to 'Show', client
      %td= link_to 'Edit', edit_client_path(client)
      %td= link_to 'Destroy', client, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Client', new_client_path
