= form_for(@data_item) do |f|
  - if @data_item.errors.any?
    #error_explanation
      %h2
        = pluralize(@data_item.errors.count, "error")
        prohibited this data_item from being saved:
      %ul
        - @data_item.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :default_value
    %br/
    = f.text_field :default_value
  .field
    = f.label :data_type
    %br/
    = f.text_field :data_type
  .actions
    = f.submit
