<h1>Listing data_items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Default value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @data_items.each do |data_item| %>
  <tr>
    <td><%= data_item.name %></td>
    <td><%= data_item.default_value %></td>
    <td><%= link_to 'Show', data_item %></td>
    <td><%= link_to 'Edit', edit_data_item_path(data_item) %></td>
    <td><%= link_to 'Destroy', data_item, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Data item', new_data_item_path %>
