<h1>Listing client_answers</h1>

<table>
  <tr>
    <th>Value</th>
    <th>Client</th>
    <th>Data item</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @client_answers.each do |client_answer| %>
  <tr>
    <td><%= client_answer.value %></td>
    <td><%= client_answer.client_id %></td>
    <td><%= client_answer.data_item.name %></td>
    <td><%= link_to 'Show', client_answer %></td>
    <td><%= link_to 'Edit', edit_client_answer_path(client_answer) %></td>
    <td><%= link_to 'Destroy', client_answer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Client answer', new_client_answer_path %>
