%h1 Listing client_answers
%table
  %tr
    %th Value
    %th Client
    %th Data item
    %th
    %th
    %th
  - @client_answers.each do |client_answer|
    %tr
      %td= client_answer.value
      %td= client_answer.client_id
      %td= client_answer.data_item.name
      %td= link_to 'Show', client_answer
      %td= link_to 'Edit', edit_client_answer_path(client_answer)
      %td= link_to 'Destroy', client_answer, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Client answer', new_client_answer_path
