<p id="notice"><%= notice %></p>

<p>
  <b>Value:</b>
  <%= @client_answer.value %>
</p>

<p>
  <b>Client:</b>
  <%= @client_answer.client_id %>
</p>

<p>
  <b>Data item:</b>
  <%= @client_answer.data_item_id %>
</p>


<%= link_to 'Edit', edit_client_answer_path(@client_answer) %> |
<%= link_to 'Back', client_answers_path %>
