<!DOCTYPE html>
<html>
<head>
  <title>DebtRemedy</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div>Current client id = <%=current_client.id%></div>

<%= yield %>

</body>
</html>
